
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    max-width: 100%;
    height: 200px;
}

/* Header Styles */

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header nav {
    background-color: #444;
    padding: 1em;
    text-align: center;
}

header nav a {
    color: #fff;
    margin: 0 1em;
}

.logo {
    margin: 1em;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/* Welcome Section Styles */

.welcome {
    background-image: linear-gradient(to bottom, #f0f0f0, #fff);
    padding: 3em;
    text-align: center;
}

.welcome img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
}

/* Levels Section Styles */

.levels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.levels div {
    margin: 1em;
    width: 200px;
}

.levels img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

/* Enroll Section Styles */

.Enroll {
    background-color: #f0f0f0;
    padding: 3em;
    text-align: center;
}

.Enroll img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"], input[type="email"] {
    width: 50%;
    height: 30px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

button {
    width: 50%;
    height: 30px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

/* Footer Styles */

.footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.footer a {
    color: #fff;
    margin-right: 1em;
    text-decoration: none;
}

/* Responsive Design */

@media only screen and (max-width: 1200px) {
    .levels div {
        width: 250px;
    }
}

@media only screen and (max-width: 992px) {
    .levels div {
        width: 200px;
    }
}

@media only screen and (max-width: 768px) {
    .levels {
        flex-direction: column;
    }
    .levels div {
        width: 100%;
        margin: 1em 0;
    }
    input[type="text"], input[type="email"] {
        width: 80%;
    }
    button {
        width: 80%;
    }
}

@media only screen and (max-width: 480px) {
    header nav {
        display: none;
    }
    .logo {
        margin: 1em;
    }
    .welcome {
        padding: 1em;
    }
    .Enroll {
        padding: 1em;
    }
}

@media only screen and (max-width: 320px) {
    .levels div {
        margin: 1em 0;
    }
    input[type="text"], input[type="email"] {
        width: 100%;
    }
    button {
        width: 100%;
    }
}
/* contact page css*/
.contact {
    padding: 3em;
    text-align: center;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact input[type="text"], .contact input[type="email"] {
    width: 50%;
    height: 30px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.contact textarea {
    width: 50%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.contact button {
    width: 50%;
    height: 30px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.contact button:hover {
    background-color: #444;
}

@media only screen and (max-width: 768px) {
    .contact input[type="text"], .contact input[type="email"] {
        width: 80%;
    }
    .contact textarea {
        width: 80%;
    }
    .contact button {
        width: 80%;
    }
}

@media only screen and (max-width: 480px) {
    .contact input[type="text"], .contact input[type="email"] {
        width: 100%;
    }
    .contact textarea {
        width: 100%;
    }
    .contact button {
        width: 100%;
    }
}
/* about us page css*/
about {
    padding: 3em;
    text-align: center;
}

.about h2, .about h3 {
    margin-bottom: 10px;
}

.about p {
    margin-bottom: 20px;
}

.about ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.about li {
    margin-bottom: 10px;
}

.about li:before {
    content: "\2022";
    font-weight: bold;
    font-size: 1.5em;
    padding-right: 10px;
}

@media only screen and (max-width: 768px) {
    .about {
        padding: 1em;
    }
}

@media only screen and (max-width: 480px) {
    .about {
        padding: 0.5em;
    }
}