*{
    text-align: center;
     box-sizing: border-box; 
   font-family: Tahoma;
   margin: 0 auto;
   line-height: 1.5;
   background-color: beige;
   
}

.logo img{
  height: 150px;
width: 150px;
text-align: center;
  }

.welcome img {
    width: 100%;
    object-position: 100%;
  
}
.welcome h2 button{

  text-align: center;
  
}
 .welcome button{
  text-align: center;

}
.levels {
  display: flex;
  margin: 20px;
  padding: 20px;
}


.levels img {
    height: 250px;
     width: 250px;
     margin: 20px;
     padding: 10px;
     display: flex;

    
}
.levels button{
  text-align: center;
}
  
.Enroll input{
  text-align: center;

}
.Enroll button{
  
  padding: 10px;
  text-align: center;
  margin: auto;
  width: 30%;
  float: left;

}
.Enroll img{
  display: flex;
  width: min-content
}
input{
text-align: center;
box-sizing: border-box;
margin-bottom: 3px;
padding: 10px;
display: block;
}
button{
  text-align: center;
  box-sizing: border-box;
  margin: auto;
}
.form input {
  text-align: center;
  
  margin: 10px 10px;
}
.form button{
  text-align: center;
  margin: 10px 10px;
  
}
body{
  width:auto;
}
.footer{
  text-align: center;

}

@media screen {
  
  *{
  text-align: center;
     box-sizing: border-box; 
   font-family: Tahoma;
   margin: 0 auto;
   line-height: 1.5;
   background-color: beige;
   
}

.logo img{
  height: 150px;
width: 150px;
text-align: center;
  }

.welcome img {
    width: 100%;
    object-position: 100%;
  
}
.welcome h2 button{

  text-align: center;
  
}
 .welcome button{
  text-align: center;

}
.levels {
  display: flex;
  margin: 20px;
  padding: 20px;
}


.levels img {
    height: 250px;
     width: 250px;
     margin: 20px;
     padding: 10px;
     display: flex;

    
}
.levels button{
  text-align: center;
}
  
.Enroll input{
  text-align: center;

}
.Enroll button{
  
  padding: 10px;
  text-align: center;
  margin: auto;
  width: 30%;
  float: left;

}
.Enroll img{
  display: flex;
  width: min-content
}
input{
text-align: center;
box-sizing: border-box;
margin-bottom: 3px;
padding: 10px;
display: block;
}
button{
  text-align: center;
  box-sizing: border-box;
  margin: auto;
}
.form input {
  text-align: center;
  
  margin: 10px 10px;
}
.form button{
  text-align: center;
  margin: 10px 10px;
  
}
body{
  width:auto;
}
.footer{
  text-align: center;

}
}

